{% for post in postslist  %}
  <div class="flex flex-col w-full duration-500 bg-white  rounded-lg shadow-sm group min-w-[0px] hover:rotate-1 hover:shadow-xl hover:scale-105 hover:-translate-y-2 {% if post.url == url %} postlist-item-active{% endif %} ">
      {% if post.data.external %}
        <a href="{{ post.data.external | url }}" class="flex flex-col h-full">
      {% else %}
        <a href="{{ post.url | url }}" class="flex flex-col h-full">
      {% endif %}
          <div class="overflow-hidden group">
            <div class="relative rounded-t-lg">
              {% image post.data.cover, "Alt", [300], "100vw", "object-cover rounded-t-lg aspect-[0.66] object-cover  opacity" %}
            </div>
          </div>
            {% if post.data.bookorder %}
              <p class="px-4 pt-1 text-xs text-center text-gray-400 uppercase text-balance">{{ post.data.bookorder }}</p>
            {% else %}
            {% endif %}
          <div class="flex flex-col px-1 py-1 pb-2 whitespace-pre-wrap place-content-center grow text-balance" >


            {% if post.data.title %}
              <p class="font-bold text-center text-black capitalize text">{{ post.data.title }}</p>
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
            {# <div class="flex items-center">
                <p class="my-3 text-lg font-semibold text-black cursor-auto">$149</p>
                <del>
                    <p class="ml-2 text-sm text-gray-600 cursor-auto">$199</p>
                </del>
                <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                    </svg></div>
            </div> #}
          </div>
      </a>
  </div>

{% endfor %}