<nav
  x-data="navbar"
  x-init="$nextTick(() => { scroll(); })"
  x-on:scroll.window="atTop = (window.pageYOffset > 90) ? false : true;hideHeader=scrollCheck();"
  x-bind:class="{ 'md:h-16': hideHeader, 'md:h-24': !hideHeader, '': atTop, 'shadow-lg': !atTop }"
  class="fixed top-0 left-0 z-30 w-full uppercase transition-all duration-300 ease-in-out font-lg font-nav z-200 bg-secondary color-primary md:h-24">
  <div
    class="container flex items-center h-full max-w-screen-xl mx-auto"
    x-on:click.away="isOpen = false">
    <div
      class="absolute flex items-center right-4 md:hidden"
      aria-label="toggle menu"
      x-on:click="isOpen = !isOpen">
      <button
        type="button"
        class="inline-flex items-center justify-center p-2 rounded-md text-primary hover:text-white hover:bg-primary focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu"
        aria-expanded="false">
        <span class="sr-only">Abrir Menu</span>
        <!--
              Icon when menu is closed.

              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
        <svg
          class="block w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        <!--
              Icon when menu is open.

              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
        <svg
          class="hidden w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div
      class="flex justify-center flex-1 h-full md:items-stretch md:justify-between">
      <div class="flex items-center justify-start">
        <a
          rel="noopener noreferrer"
          href="/"
          rel="prefetch"
          aria-label="Back to homepage"
          class="flex items-center h-full px-2 cursor-pointer">
          <!-- Logo-->
          <!-- <div
                class="rounded bg-yellow-400 text-white font-bold w-10 h-10 flex justify-center text-3xl pt-0.5"
              >
                G
              </div> -->
          <div class="hidden ml-2 font-semibold">Gold Alimentos</div>
          <Picture
            src={import('../../assets/logogoldmaior.png')}
            widths={[80, 160]}
            height="80px"
            width="80px"
            formats={['webp', 'png']}
            aspectRatio="1:1"
            alt="Marca Gold"
            class="nav-logo"
            loading="eager"
          />
        </a>
      </div>
      <div class="justify-center flex-grow hidden md:flex sm:px-4 lg:px-8">
        <div
          class="grid items-center content-center justify-between w-full h-full grid-cols-4 divide-x justify-items-center border-primary">
          <div
            x-data
            x-popover
            x-on:mouseleave="$popover.close()"
            class="relative flex justify-center flex-grow">
            <button
              x-popover:button
              x-on:mouseover="$popover.open()"
              type="button"
              class="flex items-center uppercase hover:text-primary-accent">
              Produtos

              <!-- Heroicon: chevron-down -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 ml-2 fill-primary"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>

            <div
              x-popover:panel
              x-cloak
              x-transition.origin.top.left
              class="absolute z-500 left-0 top-[5px] mt-4 w-48 bg-secondary rounded-md shadow-md">
              <a
                href="/produtos/achocolatados/"
                rel="prefetch"
                class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:text-primary-accent hover:bg-secondary-accent">
                Achocolatados
              </a>
              <a
                href="/produtos/aveiaevitamina/"
                rel="prefetch"
                class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:text-primary-accent hover:bg-secondary-accent">
                Aveia e Vitamina
              </a>
              <a
                href="/produtos/chas/"
                rel="prefetch"
                class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:text-primary-accent hover:bg-secondary-accent">
                <span>Chás</span>
              </a>
              <a
                href="/produtos/sucosenectares/"
                rel="prefetch"
                class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:text-primary-accent hover:bg-secondary-accent">
                <span>Sucos e Néctares</span>
              </a>
              <!-- <a
                href="/produtos/adocantes"
                rel="prefetch"
                class="block w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:text-primary-accent hover:bg-secondary-accent">
                Adoçantes
              </a> -->
            </div>
          </div>
          <NavLinks title="Receitas" link="receitas" />
          <NavLinks title="Onde Encontrar" link="onde-encontrar" />
          <NavLinks title="Contato" link="contato" />
        </div>
      </div>
    </div>
    <div class="hidden md:block sm:px-4 lg:px-8">
      <SocialLinks />
    </div>
  </div>

  <div
    class="hidden md:hidden"
    id="mobile-menu"
    :class="{ 'show': isOpen, 'hidden': !isOpen }">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <MobileLinks title="Produtos" link="produtos" />
      <div class="flex flex-col pl-4">
        <SubLinks title="Achocolatados" link="produtos/achocolatados" />
        <SubLinks title="Aveia e Vitamina" link="produtos/aveiaevitamina" />
        <SubLinks title="Chás" link="produtos/chas" />
        <SubLinks title="Sucos e Néctares" link="produtos/sucosenectares" />
        <SubLinks title="Adoçantes" link="produtos/adocantes" />
      </div>
      <MobileLinks title="Receitas" link="receitas" />
      <MobileLinks title="Onde Encontrar" link="onde-encontrar" />
      <MobileLinks title="Contato" link="contato" />
    </div>
  </div>
</nav>
<div class="mt-16 xl:mt-24"></div>

<script is:inline>
  document.addEventListener('alpine:init', () => {
    Alpine.data('navbar', () => ({
      isOpen: false,
      atTop: true,
      hideHeader: false,

      scrollCheck() {
        // get current position
        currentPos = window.pageYOffset
        // only when we scroll up or we are at the top
        prevPos > currentPos || currentPos == 0
          ? (result = false)
          : (result = true)
        // current position will become previous position
        prevPos = currentPos
        return result
        // console.log(hideHeader);
      },
      init() {
        prevPos = window.pageYOffset
      },
    }))
  })
</script>
