.header-nav {
  transition: all 0.3s ease;
  background-color: var(--backgroundColor);

  &.pinned {
    background-color: #3b4252;
    & #search-content {
      background-color: #3b4252;
    }
    position: sticky;
    top: 0;
  }
  & #search-content {
    background-color: var(--backgroundColor);
  }
}

nav {
  &__container {
  }
  .logo {
    @apply storysonear;
    & span {
      @apply storyends;
    }
  }
  .nav--primary {
    ul {
      font-size: var(--fluid-2);
      margin: 0.75rem 0;
    }

    a {
      display: block;
      padding: 0.25em 0;
    }
  }
}
