<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="generator" content="{{ eleventy.generator }}">
  {#-
  CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
  1. You can add to them using `{% css %}`
  2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
  3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
  4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
  #}
  {#- Add the contents of a file to the bundle #}
  {%- css %}
  {% renderFile "src/css/style.scss"  %}

  {% endcss %}
    {# <link rel="stylesheet" href="{{ '/css/style.css' | url }}" /> #}
  <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}" />


  {% js "head" %}{% include "src/main.js" %}{% endjs %}
  {# <script src="/main.js" ></script> #}
  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
  <script src="{% getBundleFileUrl 'js', 'default' %}"></script>
  {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
  <style>{% getBundle "css", "head" %}</style>
</head>
<body>
  <!-- Built on {{config.now}} by Eleventy -->

  {{ content | safe }}

  <script>{% getBundle "js", "default" %}</script>
  <script defer>{% getBundle "js", "defer" %}</script>

  {% if meta.env == 'dev' %}
  // analytics here
  {% endif %}
  {% js "quicklinks" %}{% include "../_includes/quicklinks.njk" %}{% endjs %}
  <script src="{% getBundleFileUrl 'js', 'quicklinks' %}"></script>
  <script type="module" src="{% getBundleFileUrl 'js', 'async' %}"></script>
</body>
</html>