---
title: Mistborn
layout: base
permalink: '/books/mistborn/'
description:
cover: assets/images/books/mistborn_e1_01_tfe_us_3rd_mmpb_cover.jpg
tags:
  - Cosmere
  - Mistborn
  - Mistborn Era 1
  - Mistborn Era 2
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">Mistborn</h1>
  <div class="relative mt-8 overflow-auto ">

    <div class="py-12 bg-white">
      <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div class="max-w-2xl mx-auto lg:text-center">
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 ">Mistborn Era 1</p>
        </div>
        <div class="max-w-2xl mx-auto mt-12 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e1_01_tfe_us_3rd_mmpb_cover.jpg", "The Final Empire", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                The Final Empire
                <a href="/books/mistborn/the-final-empire/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e1_02_woa_us_2019mmpb_cover.jpg", "The Well Of Ascension", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                The Well Of Ascension
                <a href="/books/mistborn/the-well-of-ascension/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e1_03_hoa_us_2019_cover.jpg", "The Hero Of Ages", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                The Hero Of Ages
                <a href="/books/mistborn/the-hero-of-ages/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e1_04_secret_history_us_hardcover.jpg", "The Well Of Ascension", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                Mistborn Secret History
                <a href="/books/mistborn/mistborn-secret-history/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="px-6 mx-auto mt-24 max-w-7xl lg:px-8">
        <div class="max-w-2xl mx-auto lg:text-center">
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 ">Mistborn Era 2</p>
        </div>
        <div class="max-w-2xl mx-auto mt-12 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e2_01_the_alloy_of_law_cover.jpg", "The Alloy Of Law", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                The Alloy Of Law
                <a href="/books/mistborn/the-alloy-of-law/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi. Odio urna massa nunc massa.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e2_02_shadows_of_self_us_hardcover.jpg", "Shadows Of Self", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                Shadows Of Self
                <a href="/books/mistborn/shadows-of-self/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget. Sem sodales gravida quam turpis enim lacus amet.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e2_03_bands_of_mourning_us_hardcover.jpg", "The Bands Of Mourning", [300], "100vw", "aspect-[776/1024] object-cover  drop-shadow-lg shadow-lg" %}
                </div>
                The Bands Of Mourning
                <a href="/books/mistborn/the-bands-of-mourning/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Quisque est vel vulputate cursus. Risus proin diam nunc commodo. Lobortis auctor congue commodo diam neque.</dd>
            </div>
            <div class="relative ">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="relative left-0 flex items-center justify-center float-left w-20 mr-8 top-2">
                  {% image "../assets/images/books/mistborn_e2_04_tlm_us_cover.jpg", "The Lost Metal", [300], "100vw", "aspect-[776/1024] object-cover drop-shadow-lg shadow-lg" %}
                </div>
                The Lost Metal
                <a href="/books/mistborn/the-lost-metal/" class="absolute inset-0"></a>
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">Arcu egestas dolor vel iaculis in ipsum mauris. Tincidunt mattis aliquet hac quis. Id hac maecenas ac donec pharetra eget.</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

  </div>

</div>
