// https://lea.verou.me/blog/2020/04/lch-colors-in-css-what-why-and-how/
// https://colorjs.io/apps/picker/oklch
// https://www.nordtheme.com/docs/colors-and-palettes
:root {
  --textColor: #3b4252;
  --primaryColor: #5e81ac;
  --focusColor: #7231ff;
  --backgroundColor: oklch(0.97 0.01 262); //#f2f4f8;
  --backgroundMutedColor: oklch(0.95 0.01 262); //#eceff4;
  --backgroundAccentColor: oklch(0.93 0.01 262); //#e5e9f0;
}

:root.dark {
  color-scheme: dark;
  --textColor: #e5e9f0;
  --primaryColor: #5e81ac;
  --backgroundColor: oklch(0.38 0.03 266); // #3b4252;
  --backgroundMutedColor: oklch(0.34 0.02 264); //#2e3440;
  --backgroundAccentColor: oklch(0.42 0.03 264); //#434c5e;
}
.color-text {
  color: var(--textColor);
}
.color-background {
  background-color: var(--backgroundColor);
}
.color-background--muted {
  background-color: var(--backgroundMutedColor);
}
.color-background--accent {
  background-color: var(--backgroundAccentColor);
}
.color-primary {
  color: var(--primaryColor);
}

// // Very basic support for a dark color scheme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-mode: 'dark';
//   }

//   :root:not([data-user-color-scheme]) {
//     --backgroundColor: #2e3440;
//     --textColor: #e5e9f0;
//     --primaryColor: #5e81ac;
//   }
// }
