---
permalink: /css/async.css
eleventyExcludeFromCollections: true
---
{# this file is for *.webc pages as we slowly remove async CSS as we move more things to components #}
{%- set css %}
{% include "./tailwind.css" %}
{% include "./base.css" %}
{% endset %}

{{ css | cssmin | safe }}