---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

<div class="container">
    <h1>About</h1>
    {% image "cat.jpg", "Cat pic", [300, 600], "(max-width: 500px) 300px, 600px" %}

</div>
