---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
  order: 2
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">About</h1>
  <div class="relative mt-8 overflow-auto ">


<div class="py-12 bg-background-light">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    {# <div class="max-w-2xl mx-auto lg:text-center">
      <h2 class="text-2xl font-semibold leading-7 text-indigo-600">Deploy faster</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Everything you need to deploy your app</p>
      <p class="mt-6 text-lg leading-8 ">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
    </div> #}
    <div class="max-w-2xl mx-auto lg:max-w-4xl text-text">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative col-span-2">
          <dt class="text-2xl font-semibold leading-7">
            Bio
            <a href="/about/brandon" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">A brief Bio about Brandon and his professional trajectory. </dd>
        </div>
        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            New to Brandon’s Work?
            <a href="/about/hello-my-names-brandon" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Brandon has a few words to share and a couple books to pitch.</dd>
        </div>
        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            Where do I start?
            <a href="/about/where-do-i-start" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Having trouble choosing? We have a few ideas to get you started.</dd>
        </div>
        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            What is the Cosmere®?
            <a href="/about/what-is-the-cosmere" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Confused what it all means? Let's explain it.</dd>
        </div>

        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            Writing Advice
            <a href="/about/writing-advice" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Many writers ask me for advice, so I’ve created this page of resources to help you achieve your writing goals.</dd>
        </div>
        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            Rights Inquiries
            <a href="/about/rights-inquiries" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Inquiries about product licensing.</dd>
        </div>
        <div class="relative">
          <dt class="text-2xl font-semibold leading-7">
            Goodreads Policy
            <a href="/about/goodreads-policy" class="absolute inset-0"></a>
          </dt>
          <dd class="mt-2 text-base leading-7 ">Off-site Book Reviews.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>



  </div>

</div>
