---
layout: singlepage
permalink: /about/hello-my-names-brandon/
title: "Hello! My name’s Brandon"
description: "I hope you find this little guide helpful."

---

<div class="float-left mr-6">
  {# sm:aspect-w-16 sm:aspect-h-9 sm:w-44 #}
  <div class="relative w-40 transition-all duration-300 sm:w-52 md:w-60 lg:w-80 xl:w-96">

    {% image "assets/images/brandon_gray_776x1024.png", "Test", [300, 600, 800], "(min-width: 66em) 33vw, (min-width: 44em) 50vw, 100vw", "aspect-[776/1024] object-cover" %}
    <div class="absolute inset-0 rounded-lg ring-1 ring-inset ring-black/10"></div>
  </div>
</div>

<div class="mx-auto space-y-6 font-serif prose dark:prose-invert">
  <p class="first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">I write science fiction and fantasy stories that focus on complex characters and innovative settings. I’m glad you stopped by.</p>

  <p>I’ve written a lot over the years. It can be a little daunting to get into my work, but it doesn’t have to be. Most of my series can be read independently of one another, and although many of them are connected behind the scenes, references to these things are generally easter eggs or other small-scale connections.</p>

  <p>I thought that here I’d pitch to you a few books—each a good place to start—if you want to dive in. Each book or series I write is usually trying something slightly different, so they each tend to have a unique vibe. The best place for you to start, then, is generally with something that matches your reading tastes. Let me give you a few options. You can click the title of each one to read sample chapters!</p>

  <p>All of these works, save Skyward, take place in the same universe called the Cosmere. The connections are quite ephemeral in these pieces, but watch for a character named Hoid (a.k.a. Wit). He is relevant to each of them in some way or another. Watching for him and trying to piece together his motives is one of the mysteries of the Cosmere.</p>

  <p>Thanks again for looking into my works! I hope you found this little guide helpful.</p>

  {% image "assets/images/brandons-signature-copy-300x124.png", "Brandon’s Signature", [300], "100vw", "w-[300px]" %}


</div>
