---
layout: base
permalink: /about/where-do-i-start
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">Where do I start?</h1>
  <div class="relative mt-8 overflow-auto ">
    <div class="p-8 shadow-xl bg-background-light ">

      <div class="mx-auto space-y-6 font-serif prose dark:prose-invert">
        <h2>If you’re new to my books, here’s a primer on where to start.</h2>
        <ul>
          <li>If you don’t typically read fantasy, try Steelheart or Elantris.</li>
          <li>If you consider yourself a fantasy reader, try Mistborn: the Final Empire or The Way of Kings.</li>
          <li>If you like romance, try Warbreaker.</li>
          <li>If you’re a younger reader or want something humorous and lighthearted, try Alcatraz vs. the Evil Librarians.</li>
          <li>If you’re looking something that will appeal to young adults, try Steelheart, Mistborn, or The Rithmatist.</li>
        </ul>

        <h2>Recommended Reading Order for Cosmere Books</h2>

        <p>I recommended reading the books in sequential order rather than trying to dive into the second book in a series without having read the first book. That said, it really doesn’t matter which Cosmere series you start with, which means any of these books are good starting points:</p>
        <ul>
          <li>Mistborn: the Final Empire</li>
          <li>The Emperor’s Soul</li>
          <li>The Way of Kings</li>
          <li>Elantris</li>
          <li>Warbreaker</li>
        </ul>
        <p>There are tidbits in each of the books that inform the other books, but you don’t have to notice these things to enjoy the story by itself. Finding these easter eggs is one of the things that makes re-reading the books so much fun.</p>

        <p>{% post_url "The Alloy Of Law" %} is an okay jumping in spot for the Cosmere, but keep in mind that this book has spoilers for the original Mistborn trilogy.</p>

        <h2>Recommended Reading Order for Non-Cosmere Books</h2>

        <p>Since these books aren’t interconnected, reading them in the sequential order of the respective series is recommended.</p>

        <h2>Still not sure?</h2>

        <p>Here are quick descriptions of a couple of my books to help you choose</p>

        <p>Elantris: Story of a man who catches a terrible magical disease, and is thrown into a prison city for those with that disease. He tries to unravel the world’s magic system (which is now non-functional, and potentially the source of the disease) while surviving in terrible circumstances and trying to bring civilization back to those locked in the city with him</p>

        <p>Mistborn: Heist story about a young woman recruited into a gang of thieves, trained to use magic and to imitate a noblewoman, then used in a plot to try and rob (and hopefully overthrow) the immortal emperor of the world. One part Ocean’s Eleven, one part Lord of the Rings, one part Crouching Tiger Hidden Dragon, one part My Fair Lady.</p>
      </div>

    </div>
  </div>

</div>