---
layout: base
permalink: /about/what-is-the-cosmere/
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">What Is The Cosmere®?</h1>
  <div class="relative mt-8 overflow-auto ">
    <div class="p-8 shadow-xl bg-background-light ">
      <div class="mx-auto space-y-6 font-serif prose dark:prose-invert">
        <p class="first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left">

    The Cosmere is the fictional universe I created for many of my fantasy novels to take place within. Currently Elantris, Mistborn, Warbreaker, The Stormlight Archive, White Sand, and anything from Arcanum Unbounded are part of the Cosmere, and I’ve tried my best to make the distinction clear on the Books page of my site here, which will give you a good idea where my stories take place, whether within the Cosmere or outside of it.</p>
    <p>All of my Cosmere books share a single creation myth, a single cosmology, that gives underlying theorem of magic for all these connected worlds. The theorem is not simple–I can’t really encapsulate it in one sentence–but you can map out how the magic all fits together in the Cosmere using this kind of super theorem. Since all the worlds in the Cosmere are connected, that means you should pay attention. Certain characters from one series sometimes show up in other series. You don’t often need to know this is going on to enjoy the book, but if you keep your eyes open, you’ll be rewarded with glimpses of these Worldhoppers now and then.</p>
    <p>Sometimes I get asked questions like: Does such-and-such story take place within the Cosmere? And here’s a good rule of thumb that mostly works: if the book contains Earth in any shape or form, then the story is not set in the Cosmere. Also, my children’s books and The Wheel of Time are not part of the Cosmere.</p>



      </div>

    </div>
  </div>

</div>
