---
layout: base
permalink: /about/rights-inquiries/
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">Rights Inquiries</h1>
  <div class="relative mt-8 overflow-auto ">
    <div class="p-8 shadow-xl bg-background-light ">
      <div class="mx-auto space-y-6 font-serif prose dark:prose-invert">


<p>Please reach out to <a href="https://awfulagent.com/contact-submissions/">JABberwocky Literary Agency</a> with any inquiries about product licensing.</p>



      </div>

    </div>
  </div>

</div>
