---
layout: singlepage
permalink: /about/rights-inquiries/
title: Rights Inquiries
description: Rights Inquiries and Product Licensing
---

<div class="mx-auto space-y-6 font-serif prose dark:prose-invert">
  <p>Please reach out to <a href="https://awfulagent.com/contact-submissions/">JABberwocky Literary Agency</a> with any inquiries about product licensing.</p>
</div>
