---
layout: base
permalink: /about/goodreads-policy
---

<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">Goodreads Policy</h1>
  <div class="relative mt-8 overflow-auto ">
    <div class="p-8 shadow-xl bg-background-light ">
      <div class="mx-auto space-y-6 font-serif prose dark:prose-invert externallink">

<p>Feel free to check out my <a href="https://www.goodreads.com/review/list/3145554?shelf=read">Goodreads reviews</a>! I hope you find them to be helpful, though I do want to make you aware that I approach book reviews differently than many you might find.</p>

<p>I maintain the page for two reasons. First, to have a list of books I have enjoyed to which I can point readers who ask me for book recommendations. Second, to give some examples of different types of writing, and make some notes on them for writing students.</p>

<p>Because of these goals, you will find only favorable reviews there. In fact, as I’m only posting on there books that I liked, I will rate everything at an even five-star level. A famous author once said to me early in my career, “Don’t worry. If your book works for me, I’ll talk about it. If it doesn’t, I just won’t say anything.”</p>

<p>That has always stuck with me as being the best way for another writer to approach reviews. The last thing that authors need is to feel that someone prominent in the field is gunning for them. This doesn’t mean I think each of these books is going to be a match for every reader who comes here; I suggest reading the reviews themselves, and focusing less on the star rating.</p>

<p>I also won’t focus much on summaries of the books. I’m not a professional reviewer, and my objective is not to tell you what the book is about. Instead, I’ll talk about what I liked in it, avoiding spoilers for the most part. Every review will have a section talking about what I think the writer does particularly well, and highlight things that I think writing students should study when reading the book, to learn techniques they might apply to their own fiction.</p>

<p>At the end of the review, I’ll give a shorter “overview style” recommendation, explaining the types of readers I think will like the story. Included in this will be a brief content warning, if one applies. For this, assume that I’m not going to mention anything that is below a mild PG-13 level rating. Common swear words, action-adventure style violence, and mild sensuality won’t merit a mention here. Not because of a moral judgment in any direction, but because again, the point of this page is not to be a specific review resource—but instead to suggest books I’ve liked, and to talk about writing.</p>

<p>Finally, I will mention any ties I have to the author, or biases I might have in suggesting the book, just to be clear and on the record about such things.</p>

<p>I Hope You Find Something There You Enjoy!</p>




      </div>

    </div>
  </div>

</div>
