---
layout: singlepage
description: Writing Advice
permalink: /about/writing-advice/
---
<div class="mx-auto space-y-6 font-serif prose dark:prose-invert externallink">
<div>
  <h2 class="text-3xl">Brandon Sanderson’s University Lectures on Writing Science Fiction and Fantasy</h2>
  <p>I’ll be posting videos of my latest university lectures over the next several weeks as post-production gets finished up. Special thanks to <a href="http://camerapanda.com/">Earl Cahill</a> and his assistants, who filmed and tirelessly edited these. For more information, you can read my blog post on how they came about. Below is a link to the playlist. We’ll be adding it to it at the rate of about one per week until the whole set of lectures are posted.</p>
  <p><a href="https://www.youtube.com/watch?v=N4ZDBOc2tX8&list=PLH3mK1NZn9QqOSj3ObrP3xL8tEJQ12-vL">2016 Brandon Sanderson BYU Lectures Playlist</a></p>
  <p>To access the the full 2014 lectures filmed by BYU AV Productions and Shawn Davis in an arrangement with the BYU English Department, check out this playlist: Brandon Sanderson’s BYU Writing Lectures Playlist</p>
</div>

<div>
  <h2 class="text-3xl">Writing Excuses Online Radio Program</h2>
  <p><a href="https://writingexcuses.com/">Writing Excuses</a>: Just click play for 15-minutes of writing advice every week.</p>
  <p><a href="https://www.patreon.com/bePatron?u=2785697">Become a Patron!</a></p>
</div>

<div>
  <h2 class="text-3xl">Sanderson’s Laws of Magic</h2>
  <p><a href="">The First Law</a></p>
  <p><a href="">The Second Law</a></p>
  <p><a href="">The Third Law</a></p>
</div>

<div>
  <h2 class="text-3xl">Nanowrimo Pep Talks</h2>
  <p class=""><a href="">2014 Pep Talk</a></p>
  <p class=""><a href="">2011 Pep Talk</a></p>
</div>

<div class="">
  <h2 class="text-3xl">Skyward</h2>
  <p><a href="">Skyward Outline</a></p>
  <p><a href="">Skyward Failed Attempt One</a></p>
  <p><a href="">Skyward Failed Attempt Two</a></p>
</div>

 </div>
