---
layout: base
permalink: /adaptations/
eleventyNavigation:
  key: Adaptations
  order: 4
---


<div class="container max-w-screen-xl mx-auto">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">Adaptations</h1>
  <div class="relative mt-8 overflow-auto">
    <div class="p-8 bg-white shadow-xl text-slate-700 dark:bg-slate-800 dark:text-slate-400">
      To-do
    </div>
  </div>

</div>