---
layout: base
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 7
---

<div class="container max-w-screen-xl mx-auto">
  <h1 class="lg:pl-4 text-4xl font-bold tracking-tight text-center lineheader-r">Contact</h1>
  <div class="container p-8 mx-auto mt-8 bg-background-light text-text-dark isolate ">
      <div class="mx-auto space-y-4 max-w-prose">
        <p class="mt-2 text-lg leading-8 ">Use the following form to contact Brandon. Keep in mind:</p>
        <ul class="space-y-2 font-serif list-decimal externallink">
            <li>If you are writing to request <em>White Sand</em> or <em>Aether of Night</em> we are no longer distributing those via email. <em>White Sand</em> is being sent via a link in the newsletters we occasionally send out to subscribers. <em>Aether of Night</em> can be requested at <a href="http://www.17thshard.com/">The 17th Shard</a>.</li>
            <li>If you have a question, please check the <a href="https://faq.brandonsanderson.com/">FAQ</a> before sending an email. If your question isn’t answered there, we’ll choose a handful of questions every so often, add those answers to the FAQ, and blog that the FAQ has been updated. If you’re looking for deep answers or theories concerning the Cosmere, your best bet is to visit <a href="http://www.17thshard.com/forum/topic/60219-aether-of-night-manuscript-requests/">The 17th Shard</a>, Brandon’s official fan forum.</li>
            <li>If you have inquiries about the rights availability to one of Brandon’s books or stories, please do not use the form below. Instead, please contact his agent Joshua Bilmes here: <em>Joshua at awfulagent.com</em>.</li>

            <li>Brandon tries to reply to all of his reader mail, but any time spent answering email is time he can’t be writing, so sometimes he lets himself get backlogged. It may take several months to get a reply! And sometimes he gets too swamped to reply at all.</li>
            <li>By emailing Brandon, you give him leave to post the text of your message (he won’t disclose your full name or address) on his blog. He does this very rarely, and usually because he thought your question was interesting and that others might like to hear the response. He might rebut you, but he will not make fun of you.</li>
            <li>We take your privacy seriously. Your email address will not be disclosed to any third-party entity. (We manage the database via MailChimp, but only we see the addresses.) If you want Brandon’s assistants to delete your email from his list, just let him know.</li>
        </ul>
      </div>

    <form action="#" method="POST" class="max-w-xl mx-auto mt-16 sm:mt-20">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div>
          <label for="first-name" class="block text-sm font-semibold leading-6 text-text-dark">First name</label>
          <div class="mt-2.5">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <label for="last-name" class="block text-sm font-semibold leading-6 text-text-dark">Last name</label>
          <div class="mt-2.5">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-semibold leading-6 text-text-dark">Email</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
          </div>
        </div>
        <script>
          {# document.getElementById('linkcheckbox').addEventListener('change', toggle);
          function toggle() {
            document.getElementById('metro').disabled = true;
          } #}
          function myFunction() {
            let elementDis = document.getElementById("metro");
            var disabled = elementDis.disabled;
              if (disabled) {
                  elementDis.disabled = false;
              }
              else {
                  elementDis.disabled = true;
              }
          }

        </script>
        <div class="sm:col-span-2">
          <label for="metro" class="inline-flex text-sm font-semibold leading-6 text-text-dark">Metro Areas</label>
          <div class="flex items-center">
            <input id="linkcheckbox" type="checkbox" value="unchecked" class="block w-4 h-4 border-0 rounded shadow-sm peer text-primary ring-1 ring-inset ring-primary placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" onclick="myFunction()">
            <label for="linkcheckbox" class="block ml-2 text-sm leading-6 text-text">Notify me when Brandon is signing near me & add me to the mailing list.</label>
          </div>
          <div class="mt-1">
            <input type="text" disabled name="metro" id="metro" autocomplete="organization" class="bg-gray-50 text-text-dark  w-full  block  rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-text-dark focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6 disabled:bg-slate-100 disabled:text-slate-500 disabled:opacity-75 disabled:border-slate-200 disabled:dark:bg-slate-300 disabled:dark:text-slate-600 ">

          </div>
          <p class="mt-2 text-xs ">List all metro areas (or reasonably small states or countries) where you want to hear about all events where Brandon will be appearing. General and unambiguous is better than specific, and avoid smaller cities with the same name as larger ones. Examples: Utah Valley, Orange County, Bay Area, Washington DC. If you're in southern British Columbia, put Vancouver or Victoria. If you're in Vancouver WA, put Portland. For Portland ME just put Maine. For London Ontario put Toronto. In the UK put the nearest large metro area: London, Manchester, Birmingham, Leeds, Glasgow, Liverpool, Southampton, etc.</p>

        </div>

        <div class="sm:col-span-2">
          <label for="subject" class="block text-sm font-semibold leading-6 text-text-dark">Subject</label>
          <div class="relative mt-2.5">

            <select  type="tel" name="subject" id="subject" autocomplete="tel" class="block w-full rounded-md border-0 px-3.5 py-2 text-text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6">
              <option value="general" selected>General Comments for Brandon</option>
              <option value="store">Questions About Brandon's Store</option>
            </select>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block text-sm font-semibold leading-6 text-text-dark">Message</label>
          <div class="mt-2.5">
            <textarea name="message" id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-text-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div class="flex gap-x-4 sm:col-span-2" x-data="{ on: false }">
            <div class="flex items-center h-6">
              <button type="button" class="flex flex-none w-8 p-px transition-colors duration-200 ease-in-out bg-gray-200 rounded-full cursor-pointer dark:bg-gray-500 ring-1 ring-inset ring-gray-900/5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary" role="switch" aria-checked="false" x-ref="switch" x-state:on="Enabled" x-state:off="Not Enabled" :class="{ 'bg-primary': on, 'bg-gray-200 dark:bg-gray-500': !(on) }" aria-labelledby="switch-1-label" :aria-checked="on.toString()" @click="on = !on">
                <span class="sr-only">Agree to policies</span>
                <span aria-hidden="true" class="w-4 h-4 transition duration-200 ease-in-out transform translate-x-0 bg-white rounded-full shadow-sm ring-1 ring-gray-900/5" x-state:on="Enabled" x-state:off="Not Enabled" :class="{ 'translate-x-3.5': on, 'translate-x-0': !(on) }"></span>
              </button>
            </div>
            <label class="text-sm leading-6 text-gray-600" id="switch-1-label" @click="on = !on; $refs.switch.focus()">
              I consent to having this website store my submitted information so they can respond to my inquiry.
            </label>
          </div>
      </div>
      <div class="mt-10">
        <button type="submit" class="block w-full rounded-md bg-primary px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-accent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Let's talk</button>
      </div>
    </form>
  </div>
</div>