---
layout: base
permalink: /blog/

---

<div class="container">
  <h1 class="text-4xl font-bold tracking-tight text-center">Blog</h1>
  {% set postslist = collections.posts %} {% include "postslist.webc" %}
</div>
