
<eleventy-image
  src="cat.jpg"
  alt="My ugly mug"
  formats="png,webp"
  width="100,200,auto"
  sizes="100vw"></eleventy-image>

<img webc:is="eleventy-image" src="/cat.jpg" alt="photo of my tabby cat" />
<eleventy-image src="/cat.jpg" alt="photo of my tabby cat"></eleventy-image>
