---
layout: base
---
<header class="w-full md:py-24 min-h-[400px] relative flex justify-center items-center hero">
  {% image "img/aba-B00010-ee_1100x.png", "hero bg", [640, 1280], "(max-width: 600px) 640px, 1280px" %}
  <div class="container container--alt  max-w-screen-lg mx-auto text-slate-100">
    <div class="product-header__main hidden md:block  md:min-w-[500px] md:w-1/2 bg-slate-900/75 md:p-8 md:float-right ">
      <h1 class="product-header__header block">
        <span class="product-header__author block text-2xl mb-3">Jason Garber</span>
        <span class="product-header__title block text-7xl mb-4">Practical Pair Programming</span>
      </h1>
      <h2 class="product-header__byline block text-base mb-4">foreword by <span class="product-header__foreword">Kelly Vaughn</span></h2>
      <div class="product-header__description block text-xl">
        <p>Dive into pair programming with confidence and trust.</p>
      </div>
    </div>
  </div>
</header>

<div class="w-full py-4 color-background--accent mb-8 ">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5 my-4 container max-w-screen-lg mx-auto overflow-auto">
      <!--Card 1-->
      <div class="rounded overflow-hidden shadow-lg md:col-span-2 color-background">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Mountain</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>

      <!--Card 2-->
      <div class="relative rounded-xl overflow-auto p-8">
          <div class="relative text-sm font-medium leading-6">
            <div class="bg-purple-400/20 border border-purple-700/10 rounded-lg p-4 dark:bg-sky-900/70 dark:border-0">
              <div class="static bg-purple-400/20 border border-purple-700/10 p-4 h-32 dark:bg-sky-400/20 dark:border-0">
                <p class="text-purple-700 dark:text-sky-200">Static parent</p>
                <div class="absolute -top-4 inset-x-0 bg-purple-500 shadow-lg rounded-lg p-4 text-white dark:bg-sky-500">
                  <p>Absolute child</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="rounded shadow-lg color-background px-6 py-4 relative">
        <div class="absolute inset-x-0 -top-2 flex items-center justify-center rounded-lg"><h3 class="center font-bold">Progress Bars</h3></div>
        <div>
          <div class="grid grid-cols-2">
            <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-500">Something</div>
            <div class="text-right mb-1 text-base font-medium text-blue-700 dark:text-blue-500">68%</div>
          </div>
          <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-600">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 68%"></div>
          </div>
        </div>
        <div>
          <div class="flex justify-between  w-full">
            <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-500">Something else</div>
            <div class="text-right mb-1 text-base font-medium text-blue-700 dark:text-blue-500">10%</div>
          </div>
          <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-600">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 10%"></div>
          </div>
        </div>
        <div>
          <div class="flex justify-between  w-full">
            <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-500">Other something</div>
            <div class="text-right mb-1 text-base font-medium text-blue-700 dark:text-blue-500">90%</div>
          </div>
          <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-600">
            <div class="bg-blue-600 h-2.5 rounded-full" style="width: 90%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container max-w-screen-lg mx-auto">
  <h1 class="roboto text-3xl">Rien n’est plus vite.</h1>
  <h2 class="roboto-slab text-2xl">Test roboto</h2>
  <p>
    A simple, fast – and a little bit opinionated – starter project for
    <a href="https://www.11ty.dev">Eleventy</a>.
  </p>
  <p>By <a href="https://matthiasott.com">Matthias Ott</a>.</p>
  <p>
    Code on
    <a href="http://github.com/matthiasott/eleventy-plus-vite">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021.798-.221 1.649-.332 2.496-.336.849.004 1.701.115 2.496.336 1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z" />
      </svg>
      Github
    </a>
  </p>
  <section class="list">
    <h2>Features</h2>
    <ul dir="auto">
      <li>Eleventy 2.0.0-canary</li>
      <li>New Eleventy 2.0 Dev Server with live reload</li>
      <li>
        Vite 3.0 as Middleware in Eleventy Dev Server (uses
        <a href="https://github.com/11ty/eleventy-plugin-vite/"
          >eleventy-plugin-vite</a
        >)
      </li>
      <li>
        Eleventy build output is post-processed by
        <a href="https://vitejs.dev" rel="nofollow">Vite</a> (with Rollup)
      </li>
      <li>
        CSS/Sass post-processing with PostCSS incl.
        <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> and
        cssnano
      </li>
      <li>
        Uses
        <a
          href="https://matthiasott.com/notes/how-i-structure-my-css"
          rel="nofollow"
          >my own opinionated CSS/Sass structure</a
        >
      </li>
      <li>
        Critical CSS, generated and inlined via
        <a href="https://github.com/nystudio107/rollup-plugin-critical"
          >rollup-plugin-critical</a
        >. The main CSS file is then loaded asynchronously with
        <a
          href="https://www.filamentgroup.com/lab/load-css-simpler/"
          rel="nofollow"
          >Scott Jehl’s <code>media</code> loading strategy</a
        >
        (adds <code>media="print"</code> and swaps to
        <code>media="all"</code> once loaded)
      </li>
      <li>
        Example implementation of a web font loading strategy (<a
          href="https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-preload"
          rel="nofollow"
          >critical FOFT with preload</a
        >)
      </li>
      <li>
        Basic fluid typography based on
        <a href="https://utopia.fyi" rel="nofollow">Utopia</a>
      </li>
      <li>
        Basic dark mode support (using <code>prefers-color-scheme</code> and CSS
        Custom Properties)
      </li>
      <li>
        Polyfill for
        <a
          href="https://matthiasott.com/notes/focus-visible-is-here"
          rel="nofollow"
          >focus-visible</a
        >
      </li>
      <li>RSS feed 🧡</li>
      <li>XML sitemap</li>
      <li>Four Hundos Lighthouse score 💯💯💯💯</li>
    </ul>
  </section>
</div>
