<!DOCTYPE html>
<html lang="{{ meta.lang }}" x-data="darkmode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>
  <script>// On page load or when changing themes, best to add inline in `head` to avoid FOUC
  try {
    if (
      localStorage.theme==='dark'||
      (!('theme' in localStorage)&&
        window.matchMedia('(prefers-color-scheme: dark)').matches)||
      document.documentElement.getAttribute('data-theme')==='dark'
    ) {
      document.documentElement.classList.add('dark')
      document.documentElement.setAttribute('data-theme', 'dark')
      localStorage.theme='dark'
    } else {
      document.documentElement.classList.remove('dark')
      document.documentElement.setAttribute('data-theme', 'light')
    }
  } catch (_) {}
  </script>
  <link rel="preload" href="/assets/fonts/storysonear/Fontspring-DEMO-ccthestorysonear-regular.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/storyends/Fontspring-DEMO-ccthestoryends-regular.woff2" as="font" type="font/woff2" crossorigin="">


    {% include "meta.njk" %}

  <script>
  /* Font loading: Critical FOFT with preload, see: https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-with-preload */
  (function() {
    if( "fonts" in document ) {
      // Optimization for Repeat Views
      if( sessionStorage.fontsLoadedCriticalFoftPreload ) {
        document.documentElement.className += " fonts-loaded-2";
        return;
      }
      document.fonts.load("1em 'Inter Variable'").then(function () {
        document.documentElement.className += " fonts-loaded-1";

        Promise.all([
          document.fonts.load("1em 'TheStoryEnds'"),
          document.fonts.load("1em 'TheStorySoNear'"),
          document.fonts.load("1em 'Roboto Slab Variable'"),
          //document.fonts.load("italic 700 1em 'DM Sans'")
        ]).then(function () {
          document.documentElement.className += " fonts-loaded-2";

          // Optimization for Repeat Views
          sessionStorage.fontsLoadedCriticalFoftPreload = true;
        });
      });
    }
  })();

  </script>

  <link rel="stylesheet" href="/assets/css/main.scss">
</head>
<body >
  <nav aria-label="Skip Links">
    <ul class="off-screen">
      <li>
        <a href="#primary_nav" class="skip-link">
          Skip to Primary Navigation
        </a>
      </li>
      <li>
        <a href="#primary_content" class="skip-link">
          Skip to Primary Content
        </a>
      </li>
    </ul>
  </nav>
  {% include "sitemenu.njk" %}
  <a id="primary_content"></a>
  {# <div class="layout" role="document"> #}
    {# <main id="main" class="main"> #}
        {{ content | safe }}
    {# </main> #}
    {% include "footer.njk" %}
  {# </div> #}

  <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
</body>
</html>