---
layout: base
---
<div class="relative w-full bg-white h-80 ">
  {% image "../../"+cover, "", [300, 600, 800, 1200], "100vw", "absolute w-full h-[85%] object-contain top-0 left-0 " %}
</div>
<article class="container relative max-w-screen-lg p-8 mx-auto -mt-12 font-serif prose dark:prose-invert lg:prose-lg bg-background-light">
    <h1>{{ title }}</h1>

    {{ content | safe }}
</article>