---
layout: base
---
<div class="container max-w-screen-xl mx-auto text-text">
  <h1 class="text-4xl font-bold tracking-tight text-center lineheader-r">{{ title }}</h1>
  <div class="relative mt-8 overflow-auto ">
    <div class="p-8 shadow-xl bg-background-light ">


          {{ content | safe }}

    </div>
  </div>
</div>
